In [1]:
print("Q1 What value is displayed when the last expression (a) is evaluated?\n ")
a = 0
def b():
    global a
    a = c(a)

def c(a):
    return a+2

Q1 What value is displayed when the last expression (a) is evaluated?

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

In [6]:
print("Q2. Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:")

def file_length(file_name):
        try:
            file = open(file_name) 
            contents = file.read() 
            file.close()       
            print(len(contents))
        except:
            print('File ' + file_name + ' not found')

Q2. Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [7]:
file_length('Filelength.txt')

123

In [1]:
print("Q3.Write a class named Marsupial that can be used as shown below:")
class Marsupial:
    Contents = []
    def put_in_pouch(self,item, contents = Contents):
        self.item = item
        contents.append(self.item)
    
    def pouch_contents(self, contents = Contents):
        return contents

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

Q3.Write a class named Marsupial that can be used as shown below:

['doll', 'firetruck', 'kitten']

In [2]:
class kangaroo(Marsupial):
    def __init__(self,x,y):
        super().__init__()
        self.xinput=x
        self.yinput=y
    def jump(self,dx,dy):
        self.xinput+=dx
        self.yinput+=dy
    def __str__(self):
        return"I am Kangaroo located at coordinates"+ "("+str(self.xinput)+","+str(self.yinput) +")"

In [3]:
k = kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

I am Kangaroo located at coordinates(0,0)

['doll', 'firetruck', 'kitten', 'doll', 'firetruck', 'kitten']

In [17]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am Kangaroo located at coordinates(3,0)

In [12]:
print("Q4. Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x.")
def collatz(dig):
    while dig != 1:
        if dig % 2 == 0:
            dig = dig // 2
            print(dig)

        elif dig % 2 == 1:
            dig = dig * 3 + 1
            print(dig)

try:
    num = int(input("Enter the Number: "))
    collatz(num)
except ValueError:
    print('Please use whole numbers only.')

Q4. Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x.
Enter the Number: 10
5
16
8
4
2
1

In [10]:
print("Q5.Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n. \n")

def binary(a):
    b = str(a % 2)

    if a >> 1 > 0:
        b += binary(a >> 1)

    return b

print(binary(9))

Q5.Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

1001

In [13]:
print("Q6. Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser,defined in Standard Library module html.parser")


from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    head = False
    l = []
    
    def handle_starttag(self, tag, attrs):
        if tag in ("h1","h2"):
            self.head = True
    def handle_data(self, data):
        if self.head:
            if data.lstrip().rstrip().strip() != ' ':
                print( data.lstrip().rstrip().strip())
    
    def handle_endtag(self, tag):
        if tag in ("h1","h2"):
            self.head = False


infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

Q6. Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser,defined in Standard Library module html.parser
W3C Mission
Principles

In [27]:
print("Q7. Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. ")\

from urllib.parse import urljoin
from html.parser import HTMLParser
class Collector(HTMLParser):
    'collects hyperlink URLs into a list'

    def __init__(self, url):
        'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

    
    def handle_starttag(self, tag, attrs):
        'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
    def getLinks(self):
        'returns hyperlinks URLs in their absolute format'
        return self.links

Q7. Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent.

In [28]:
url = 'https://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
collector.getLinks()

['http://reed.cs.depaul.edu/lperkovic/test2.html',
 'https://reed.cs.depaul.edu/lperkovic/test3.html']

In [43]:
visited =set()
def crawl2(url):
    '''a recursive web crawler that calls analyze()
       on every visited web page'''

    # add url to set of visited pages
    global visited     # warns the programmer 
    visited.add(url)

    # analyze() returns a list of hyperlink URLs in web page url 
    links = analyze(url)

    # recursively continue crawl from every link in links
    for link in links:
        # follow link only if not visited
        if link not in visited:
            try:
                crawl2(link)
            except:
                pass

In [44]:
from urllib.request import urlopen
from urllib.parse import urljoin

from html.parser import HTMLParser

def analyze(url):
    
    print('\n\nVisiting', url)           # for testing

    # obtain links in the web page
    content = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(content)
    urls = collector.getLinks()          # get list of links

    # print the http links found in web page
    print('\n{:45} {:10}'.format('URL', 'link'))
    for link in urls:
        print('{:45} {:10}'.format(url, link))

    return urls

In [45]:
crawl2('https://reed.cs.depaul.edu/lperkovic/test1.html',)

Visiting https://reed.cs.depaul.edu/lperkovic/test1.html

URL                                           link
https://reed.cs.depaul.edu/lperkovic/test1.html http://reed.cs.depaul.edu/lperkovic/test2.html
https://reed.cs.depaul.edu/lperkovic/test1.html https://reed.cs.depaul.edu/lperkovic/test3.html


Visiting http://reed.cs.depaul.edu/lperkovic/test2.html

URL                                           link
http://reed.cs.depaul.edu/lperkovic/test2.html http://reed.cs.depaul.edu/lperkovic/test4.html


Visiting http://reed.cs.depaul.edu/lperkovic/test4.html

URL                                           link


Visiting https://reed.cs.depaul.edu/lperkovic/test3.html

URL                                           link
https://reed.cs.depaul.edu/lperkovic/test3.html https://reed.cs.depaul.edu/lperkovic/test4.html


Visiting https://reed.cs.depaul.edu/lperkovic/test4.html

URL                                           link

In [11]:
print("Q8.Write SQL queries on the below database table that return: ")

Q8.Write SQL queries on the below database table that return:

In [5]:
%load_ext sql
%sql sqlite:///

In [6]:
%%sql
CREATE TABLE rain(
    city varchar(25),
    country varchar(25),
    season varchar(25),
    temperature float(10),
    rainfall  float(10)
);

 * sqlite:///
Done.

[]

In [7]:
%%sql
INSERT INTO rain VALUES
('Mumbai','India', 'winter','24.8','5.9'),
('Mumbai','India', 'spring','28.4','16.2'),
('Mumbai','India', 'summer','27.9','1549.4'),
('Mumbai','India', 'fall','27.6','346.0'),
('London','United Kingdom','winter','4.2','207.7'),
('London','United Kingdom','sping','8.3','169.6'),
('London','United Kingdom','summer','15.7','157.0'),
('London','United Kingdom','fall','10.4','218.5'),
('Cairo','Egypt', 'winter','13.6','16.5'),
('Cairo','Egypt', 'spring','20.7','6.5'),
('Cairo','Egypt', 'summer','27.7','0.1'),
('Cairo','Egypt', 'fall','22.2','4.5');

 * sqlite:///
12 rows affected.

[]

In [8]:
%sql select * from rain;

 * sqlite:///
Done.

[('Mumbai', 'India', 'winter', 24.8, 5.9),
 ('Mumbai', 'India', 'spring', 28.4, 16.2),
 ('Mumbai', 'India', 'summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'sping', 8.3, 169.6),
 ('London', 'United Kingdom', 'summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'fall', 22.2, 4.5)]

In [9]:
%sql select temperature from rain;

 * sqlite:///
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [36]:
%sql select distinct city from rain;

 * sqlite:///
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [37]:
%sql select * from rain where country = 'India';

 * sqlite:///
Done.

[('Mumbai', 'India', 'winter', 24.8, 5.9),
 ('Mumbai', 'India', 'spring', 28.4, 16.2),
 ('Mumbai', 'India', 'summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'fall', 27.6, 346.0)]

In [38]:
%sql select * from rain where season ='fall';

 * sqlite:///
Done.

[('Mumbai', 'India', 'fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'fall', 22.2, 4.5)]

In [39]:
%sql select City, country, season from rain where rainfall > 200 AND rainfall < 400;

 * sqlite:///
Done.

[('Mumbai', 'India', 'fall'),
 ('London', 'United Kingdom', 'winter'),
 ('London', 'United Kingdom', 'fall')]

In [40]:
%sql select city, country from rain where season = 'fall' And temperature > 20 ORDER BY temperature;

 * sqlite:///
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [41]:
%sql select sum(rainfall) from rain where city = 'Cairo';

 * sqlite:///
Done.

[(27.6,)]

In [42]:
%sql select sum(rainfall) from rain group by season;

 * sqlite:///
Done.

[(569.0,), (169.6,), (22.7,), (1706.5,), (230.1,)]

In [13]:
print("Q9. Write list comprehension expressions that use list words and generate the following lists:")

words = ['The','quick','brown','fox','jumps','over','the','lazy','dog']
l1 = [words[i].upper() for i in range(len(words))]
l2 = [words[i].lower() for i in range(len(words))]
l3 = [len(i) for i in words]
l4 = [[l1[i],l2[i],l3[i]]for i in range(len(words))]
l5 = [i for i in words if len(i) >= 4]
print(l1)
print(l2)
print(l3)
print(l4)
print(l5)

Q9. Write list comprehension expressions that use list words and generate the following lists:
['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']